<div id="wrapper" class="row">
  <div id="articles" class="col">
    {{#each articles}}
        <div class="col-10 w3-card-4" style="margin:12px 0">
          <div class="row" style="padding-top: 5px">
            <div class="col">
              <a href={{link}}>
                <header class="w3-container w3-blue">
                  <h1>{{title}}</h1>
                </header>
              </a>
              <div class="w3-container">
                <p>{{summary}}</p>
              </div>
            </div>
            <div class="col-3">
              <a href={{link}}>
                <img src={{image}} class="rounded float-right img-thumbnail" style="margin: 5px;min-height: 50%" alt="Responsive image">
              </a>
            </div>
          </div>
          <footer id={{_id}} class="w3-container w3-blue">
            <h5>{{date}}<button id="open-note" data-id={{_id}} style="float: right">Note</button></h5>
            {{#note}}
            <h5 style="color: black;background: floralwhite;">{{date}}<br>{{title}}: {{body}}</h5>
            {{/note}}
          </footer>
        </div>
    {{/each}}
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
<script src="app.js"></script>